@use '../../styles/vars';

// responsive mobile first
@media (max-width: 768px) {
  .readings {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3, h4 {
      text-align: center;
    }

    &-buttonRead {
      border-radius: 4px;
      color: vars.$secondaryColor;
      background-color: vars.$fourthColor;
      margin-bottom: vars.$gutter;
      border-radius: 30px;
      border: none;
      font-size: calc(vars.$fontSize * 1);
      padding: 10px;
    }

    &-book {
      width:100%;
      margin-bottom: calc(vars.$gutter * 1);

      &--cover {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;


        &-img {
          width: 300px;
          height: auto;
        }

        & > .favorited {
          top: 1%;
          right: 1%;
          position: absolute;
        }

        & > .review-done {
          top: 1%;
          right: 11%;
          position: absolute;
        }
      }
    }
    // hide the last 3 books on mobile, its just for the static integration
    &-book:nth-last-child(-n+6) {
      display: none;
    }

    &-book:hover {
      cursor: pointer;
    }
  }
}

// responsive desktop
@media (min-width: 768px) {
  .readings {
    display: flex;
    flex-direction: column;

    &-buttonRead {
      &-toggle{
        color: vars.$mainColor;;
        background-color: vars.$thirdColor;
        margin: calc(vars.$gutter * 1);
        border-radius: 30px;
        width: 30%;
        font-size: calc(vars.$fontSize * 1);;
        padding: calc(vars.$gutter * 0.5);
        border: none;
      }
    }
       
    &-books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-book:hover {
      cursor: pointer;
    }

    &-book {
      width: 300px;
      margin: calc(vars.$gutter *1);

      h3, h4 {
        text-align: center;
      }

      &--cover {
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        & > img {
          width: 300px;
          height: 450px;
        }

        & > .favorited {
          top: 10px;
          right: 10px;
          position: absolute;
        }

        & > .review-done {
          top: 10px;
          right: 40px;
          position: absolute;
        }
      }
    }
  }
}

