@use '../../styles/vars';

// responsive mobile first
@media (max-width: 768px) {
  .readings {
    color: vars.$fontColor;
    font-size: vars.$fontSize;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-buttonRead {
      border-radius: 4px;
      color: vars.$secondaryColor;
      background-color: vars.$fourthColor;
      margin-bottom: vars.$gutter;
      border-radius: 30px;
      border: none;
      font-size: calc(vars.$fontSize * 1);
      padding: 10px;
    }

    &-title {
      font-size: calc(vars.$fontSize * 2);
      color: vars.$thirdColor;
      font-weight: bold;
      margin-bottom: calc(vars.$gutter * 1.5);
      padding-top: calc(vars.$gutter * 2);
    }

    &-book {
      width:100%;
      margin-bottom: calc(vars.$gutter * 1);

      &--cover {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;


        &-img {
          width: 100%;
        }

        & > .favorited {
          top: 1%;
          right: 1%;
          position: absolute;
        }

        & > .review-done {
          top: 1%;
          right: 11%;
          position: absolute;
        }
      }

      &--title {
        text-align: center;
        padding-top: calc(vars.$gutter * 1);
        font-size: calc(vars.$fontSize * 1);
        font-weight: bold;
      }
      &--subtitle {
        text-align: center;
        padding-top: calc(vars.$gutter / 2);
        margin-bottom: calc(vars.$gutter * 3);
      }
    }
    // hide the last 3 books on mobile, its just for the static integration
    &-book:nth-last-child(-n+6) {
      display: none;
    }

    &-book:hover {
      cursor: pointer;
    }

    &-showmore {
      background-color: vars.$mainColor;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      color: vars.$fontColor;
      font-size: 1em;
      width: 35%;
      height: 2em;
      border: none;
      border-radius: 5px;
      margin-top: calc(vars.$gutter * 2);
    }
  }
}

// responsive desktop
@media (min-width: 768px) {
  .readings {
    display: flex;
    flex-direction: column;
    // align-items: center;
    color: vars.$fontColor;

    &-title {
      font-size: calc(vars.$fontSize * 2);
      color: vars.$thirdColor;
      font-weight: bold;
      padding-top: calc(vars.$gutter * 2);
      margin-bottom: calc(vars.$gutter * 1.5);
    }
    // show the last 6 books on desktop, its just for the static integration
    &-book:nth-last-child(-n+6) {
      display: block;      
    }

    &-buttonRead {
      color: vars.$secondaryColor;
      background-color: vars.$fourthColor;
      margin: auto;
      border-radius: 30px;
      border: none;
      width: 30%;
      font-size: calc(vars.$fontSize * 1);;
      padding: 10px;
    }
    
    &-books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-book {
      flex-basis: 25%;
      margin: calc(vars.$gutter * 1);

      &--cover {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        &-img {
          width: 100%;
        }
          
        & > .favorited {
          top: 1%;
          right: 1%;
          position: absolute;
        }

        & > .review-done {
          top: 1%;
          right: 11%;
          position: absolute;
        }
      }

      &--title {
        text-align: center;
        padding-top: calc(vars.$gutter * 1);;
        font-size: calc(vars.$fontSize * 1.3);;
        font-weight: bold;
      }
      &--subtitle {
        text-align: center;
        padding-top: calc(vars.$gutter / 2);
        margin-bottom: calc(vars.$gutter * 2);;
      }
    }
    &-book:hover {
      cursor: pointer;
    }



    &-showmore {
      background-color: vars.$mainColor;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      color: vars.$fontColor;
      font-size: calc(vars.$fontSize * 1);
      width: 35%;
      height: 2em;
      border: none;
      border-radius: 5px;
      margin: auto;
    }
  }
}
