@use '../../styles/vars';

@media (max-width: 768px) {

  .favorites {
    padding: calc(vars.$gutter * 2);

    &-presentation {

      & > h1 {
        color: vars.$fontColor;
        font-size: calc(vars.$fontSize * 2);
      }

      & > p {
        padding: calc(vars.$gutter * 2) 0;
      }
    }

    &-separator {
      margin: auto;
      width: 50%;
      height: 2px;
      background-color: black;
    }

    &-search {
      border: none;
      background-color: vars.$secondaryColor;
      color: vars.$fontColor;
      margin: calc(vars.$gutter * 2) 0;
      width: 40%;
      height: 30px;
      border-radius: 5px;
    }

    &-books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-book {

      & > h2 {
        color: vars.$fontColor;
        margin-top: calc(vars.$gutter * 2);
        margin-bottom: calc(vars.$gutter * 5);
        text-align: center;
      }

        &--cover {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

          & > img {
            width: 300px;
            height: auto;
          }
      }

      &:last-child {
        margin-bottom: calc(vars.$gutter * 0);
      }
    }

    &-star {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

@media (min-width: 768px) {

  .favorites {
    padding: calc(vars.$gutter * 2);

    &-presentation {

      & > h1 {
        color: vars.$fontColor;
        font-size: calc(vars.$fontSize * 2);
      }

      & > p {
        padding: calc(vars.$gutter * 2) 0;
      }
    }

    &-separator {
      margin: auto;
      width: 50%;
      height: 2px;
      background-color: black;
    }

    &-search {
      border: none;
      background-color: vars.$secondaryColor;
      color: vars.$fontColor;
      margin: calc(vars.$gutter * 2) 0;
      width: 30%;
      height: 30px;
      border-radius: 5px;
    }

    &-books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-book {

      margin: calc(vars.$gutter *1);
      margin-bottom: calc(vars.$gutter * 5);

      & > h2 {
        color: vars.$fontColor;
        margin-top: calc(vars.$gutter * 2);
        text-align: center;
      }

        &--cover {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

          & > img {
            width: 300px;
            height: 450px;
          }
      }

      &:last-child {
        margin-bottom: calc(vars.$gutter * 0);
      }
    }

    &-star {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
