@use '../../styles/vars';

@media (max-width: 768px) {

  .favorites {
    padding: calc(vars.$gutter * 2);

    &-presentation {
      & > p {
        padding: calc(vars.$gutter * 1);
      }
    }

    &-search {
      border: none;
      background-color: vars.$secondaryColor;
      color: vars.$fontColor;
      margin: calc(vars.$gutter * 2) 0;
      width: 40%;
      height: 30px;
      border-radius: 5px;
    }

    &-books {
      display: flex;
      flex-direction: column ;
      align-items: center;
    }

    &-book {
      width: 300px;
      margin: calc(vars.$gutter *1);

      h3, h4 {
        text-align: center;
      }
      &--cover {
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        & > img {
          width: 300px;
          height: auto;
        }
      }
    }

    &-star {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

@media (min-width: 768px) {
  .favorites {
    &-presentation {
      & > p {
        padding: calc(vars.$gutter * 1);
      }
    }

    &-search {
      border: none;
      background-color: vars.$secondaryColor;
      color: vars.$fontColor;
      margin: calc(vars.$gutter * 2) 0;
      width: 30%;
      height: 30px;
      border-radius: 5px;
    }

    &-books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-book {
      width: 300px;
      margin: calc(vars.$gutter *1);

      h3, h4 {
        text-align: center;
      }

      &--cover {
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        & > img {
          width: 300px;
          height: 450px;
        }
      }
    }

    &-star {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
