@use '../../styles/vars';

// responsive mobile first
@media (max-width: 768px) {
  .profile {
    color: vars.$fontColor;

    &-logo {
      display: none;
    }
    &-contentGroup {
        padding: calc(vars.$gutter * 2);
    }
    &-content {

      &.avatar {
        width: 200px;
        height: auto;

        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
      }
      &.title {
        font-size: calc(vars.$fontSize * 2);
        color: vars.$thirdColor;
        font-weight: bold;

        margin-bottom: calc(vars.$gutter * 1.5);

        &-second {
          font-size: calc(vars.$fontSize * 1.2);
          color: vars.$thirdColor;
          font-weight: bold;
          margin: calc(vars.$gutter * 1) 0;

      }
    }

      &.description.text {
        margin-bottom: calc(vars.$gutter * 1);
      }
  
      &.mail {
        margin-bottom: calc(vars.$gutter * 1);
      }

      &.button {
        color: vars.$mainColor;
        border-radius: 30px;
        border: none;
        font-size: calc(vars.$fontSize * 1);
        padding: 10px;

        &.edit {
          background-color: vars.$thirdColor;
          margin-right: calc(vars.$gutter * 2);
        }

        &.delete {
          background-color: vars.$fourthColor;
        }
      }
    }
  }
}

// responsive desktop
@media (min-width: 768px) {
  .profile {
    font-size: 1.3em;

    &-contentGroup {
      margin-left: calc(vars.$gutter * 1.5);
      padding-top: calc(vars.$gutter * 2);
  }
  &-content {

    &.avatar {
      width: 200px;
      height: auto;

      background-color: #fff;
      border-radius: 50%;

      padding: 10px;
    }

    &.title {
      font-size: calc(vars.$fontSize * 2);
      color: vars.$thirdColor;
      font-weight: bold;

      margin-bottom: calc(vars.$gutter * 1.5);

      &-second {
        font-size: calc(vars.$fontSize * 1.2);
        color: vars.$thirdColor;
        font-weight: bold;
        margin: calc(vars.$gutter * 1) 0;

    }
  }

    &.description {
      margin-bottom: calc(vars.$gutter * 1);

      &.text {
        width: 60%;
      }
    }

    &.mail {
      margin-bottom: calc(vars.$gutter * 1);
    }

      &.button {
        color: vars.$mainColor;
        border-radius: 30px;
        border: none;
        font-size: calc(vars.$fontSize * 1);
        padding: 10px;

        &.edit {
          background-color: vars.$thirdColor;
          margin-right: calc(vars.$gutter * 2);
        }

        &.delete {
          background-color: vars.$fourthColor;
        }
   }
  }
  }
}
