@use '../../styles/vars';

@media (max-width: 768px) { 
  .suggestions {

    margin: calc(vars.$gutter * 2);

    &-title {
      color: vars.$fontColor;
      margin-top: calc(vars.$gutter * 2);
    }

    &-presentation {
      margin-top: vars.$gutter;
    }

    &-separator {
      margin: auto;
      width: 50%;
      height: 2px;
      background-color: black;
    }

  }
}

@media (min-width: 768px) { 
  .suggestions {

    // margin: calc(vars.$gutter / 1);

    &-title {
      color: vars.$fontColor;
    }

    &-presentation {
      margin-top: calc(vars.$gutter *1);
    }

    &-separator {
      margin: auto;
      width: 50%;
      height: 2px;
      background-color: black;
    }
  }

}
