@use '../../styles/vars';

@media (max-width: 768px) { 
  .suggestions {

    margin: calc(vars.$gutter * 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-title {
      color: vars.$fontColor;
      margin-top: calc(vars.$gutter * 2);
    }

    &-presentation {
      margin-top: calc(vars.$gutter * 1);
    }

    &-separator {
      margin: calc(vars.$gutter * 2);
      width: 50%;
      height: 2px;
      background-color: black;
    }

    &-history {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &.book {
        &-cover {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        width: 300px;
        height: auto;

        }
        &-title {
          color: vars.$fontColor;
          padding-top: calc(vars.$gutter * 2);
        }

        &-date {
          margin-bottom: calc(vars.$gutter * 4)
        }
      }
    }
    &-showMore {
      background-color: vars.$mainColor;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      color: vars.$fontColor;
      font-size: calc(vars.$fontSize * 1);
      width: 35%;
      height: 2em;

      border-radius: 5px;
      margin-bottom: calc(vars.$gutter * 1);
    }
  }
}

@media (min-width: 768px) { 
  .suggestions {

    // margin: calc(vars.$gutter / 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-title {
      color: vars.$fontColor;
    }

    &-presentation {
      margin-top: calc(vars.$gutter *1);
    }

    &-separator {
      margin-top: calc(vars.$gutter * 2);
      margin-bottom: calc(vars.$gutter * 2);
      width: 50%;
      height: 2px;
      background-color: black;
    }

    &-history {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &.book {

        margin: calc(vars.$gutter *1);
        margin-bottom: calc(vars.$gutter * 5);

      &-cover {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        width: 300px;
        height: 450px;
      }

      &.book-title {
        color: vars.$fontColor;
        padding: calc(vars.$gutter * 0.5);
      }
    }
    }
    &-showMore {
      background-color: vars.$mainColor;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      color: vars.$fontColor;
      font-size: 1em;
      width: 35%;
      height: 2em;
      border: none;
      border-radius: 5px;
      margin-bottom: calc(vars.$gutter * 1);
    }

  }
}
