@use '../../../styles/vars';

@media (max-width: 768px) { 
  .left {
    transform: rotate(180deg);
    float:left;
  }

  .right {
    float:right;
  }

  .review {
    margin-top: calc(vars.$gutter * 4);

    &-separator {
      margin: auto;
      width: 50%;
      height: 2px;
      background-color: black;
    }

    &-post {
      margin: calc(vars.$gutter * 4 );
      padding: calc(vars.$gutter * 1);
      height: 250px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    &-arrow {
      width: 100px;
    }

    h2,h3,h4 {
      color: vars.$fontColor;
    }

    &-title--section {
      text-align: left;
      font-size: calc(vars.$fontSize * 2);
      margin: calc(vars.$gutter * 1) 0;
    }

    &-title {
      display: none;
    }

    &-content {
      margin-top: calc(vars.$gutter * 1);
    }

    &-author {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      margin-top: calc(vars.$gutter * 2);
   
      &--name {
        padding-right: calc(vars.$gutter * 1);

      }

      &--avatar {
        width: 30px;
        float: left;
      }
  }
  }
}


@media (min-width: 768px) { 
  .left {
    transform: rotate(180deg);
    float: left;
  }

  .right {
    float: right;
  }

  .review {
    margin-top: calc(vars.$gutter * 10);

    &-post {
      margin : 0 calc(vars.$gutter * 6);
      padding: calc(vars.$gutter * 2);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    &-separator {
      margin: auto;
      width: 50%;
      height: 2px;
      background-color: black;
    }

    &-arrow {
      width: 100px;
      margin-top: 50px;
    }

    h2,h3,h4 {
      color: vars.$fontColor;
    }

    &-title--section {
      text-align: left;
      font-size: calc(vars.$fontSize * 2);
      margin: calc(vars.$gutter * 1) 0;
    }

    &-title {
      font-size: calc(vars.$fontSize * 1.2);
    }

    &-booktitle {
      font-size: calc(vars.$fontSize * 1.5);

    }

    &-content {
      margin-top: calc(vars.$gutter * 1);
    }

    &-author {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      margin-top: calc(vars.$gutter * 1);
   
      &--name {
        padding-right: calc(vars.$gutter * 1);

      }

      &--avatar {
        width: 30px;
        float: left;
      }
  }
  }
}
