@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-color: vars.$mainColor;
  width: 100vw;
  height: 100vh;
  color: vars.$fontParagraph;
}

h1,h2,h3,h4 {
  color: vars.$fontColor;
}
