@use '../../styles/vars';

@media (max-width: 768px) { 
  .home {

    margin: calc(vars.$gutter / 1);

    &-title {
      color: vars.$fontColor;
    }

    &-presentation {
      margin-top: vars.$gutter;
    }

  }

    h1.home-title {
      font-size: calc(vars.$fontSize * 3);
      text-align: center;
      margin: calc(vars.$gutter / 2);
    }

    h2.home-title {
      font-size: calc(vars.$fontSize * 2);
      
    }
 

}

@media (min-width: 768px) { 
  .home {
    position: absolute;
    left: 20%;

    margin: calc(vars.$gutter / 1);

    &-title {
      color: vars.$fontColor;
    }

    &-presentation {
      margin-top: calc(vars.$gutter *1);
    }

  }

    h1.home-title {
      font-size: 3em;
      text-align: center;
      margin: calc(vars.$gutter / 2);
    }

    h2.home-title {
      font-size: calc(vars.$fontSize * 2);
      
    }
}
