@use '../../styles/vars';

@media (max-width: 768px) { 

  .header {
    width: 100%;
    margin-top: calc(vars.$gutter * 1);
    padding-top: calc(vars.$gutter / 2);
    background-color: vars.$secondaryColor;
    
    &-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
      display: flex;
      align-items: center;
      &>h1 {
        margin-left:  calc(vars.$gutter * 1.5);
        color: vars.$fontColor;
        font-weight: 800;
        font-size: calc(vars.$fontSize * 1.5);
        font-family: 'Times New Roman', Times, serif;
      }
      
      // Book logo
      &.home {
        width: 80px;
        height: auto;
        margin-left:  calc(vars.$gutter * 1.5);
      }
      // logo home full name hide en mobile
      &.homeDesktop {
        display: none;
      }
      // Profile logo
      &.profile {
        width: 50px;
        height: auto;
        margin-right:  calc(vars.$gutter * 1.5);
      }

    }

    &-menus {
      display: flex;
      flex-wrap: wrap;

      margin-right:  calc(vars.$gutter * 1.5);
    }

    // Profile menu
    &-profilemenu {
      display: none;
    }

    // Nav burger menu
    &-burgermenu {
      display: none;

      &--icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      &--icon > div {
        width: 35px;
        height: 5px;
        background-color: vars.$mainColor;
        margin: 6px 0 0 0;
      }
    }
  }
 }

 @media (min-width: 768px) { 
  .header {
  width: 15%;
  height: 100vh;
  position: fixed;
  // border: solid 5px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: vars.$secondaryColor;
  margin: 0 calc(vars.$gutter * 2);
  border-radius: 10px;

  
  &-nav {

  }

  &-logo {

    &>h1 {
      display: none;
    }
    
    // Book logo
    &.home {
      position: inherit;
      width: 70%;
      height: auto;
      margin: calc(vars.$gutter * 1.5);
    }
     // logo home short name hide en desktop
    &.homeMobile {
      display: none;
    }
    // Profile logo
    &.profile {
      display: none;
    }
  }

  &-menus {
    margin: vars.$gutter;
  }

  // Profile menu
  &-profilemenu {
    margin-bottom:  calc(vars.$gutter * 1.5);
    & > li {
      padding: calc(vars.$gutter / 5);
      color: vars.$fontColor;
    }
    & > li:hover {
      color: vars.$thirdColor;
    }
  }

  // Nav burger menu
  &-burgermenu {

    & > li {
      padding: 0.2em;
      color: vars.$fontColor;
    }

    & > li:last-child {
      position: absolute;
      bottom: 0;
      margin-bottom: calc(vars.$gutter * 4);
    }

    & > li:hover {
      color: vars.$thirdColor;
    }

    input,&--quicksearch {
      background-color: vars.$mainColor;
      color: vars.$fontColor;
      font-size: calc(vars.$fontSize * 1);
      margin-top: calc(vars.$gutter / 2);
      width: 90%;
      height: 2em;
      border: none;
      border-radius: 5px;
    }
    
    &--icon > div {

    }
  }
}
 }
