@use '../../../styles/vars';

// responsive mobile first
@media (max-width: 768px) {
  .editprofile {
    color: vars.$fontColor;

    &-logo {
      display: none;
    }
    &-contentGroup {
        margin-left: calc(vars.$gutter * 3);
        padding-top: calc(vars.$gutter * 2);
    }
    &-content {

      &.title-description {
        margin: calc(vars.$gutter * 1) calc(vars.$gutter * 1) calc(vars.$gutter * 1) calc(vars.$gutter * 0);
        font-size: calc(vars.$fontSize * 1.5);
      }

      &.edit-presentation {
        margin-left: calc(vars.$gutter * 0.8);
      }

      &.avatar {
        width: 30%;
        background-color: #fff;
        border-radius: 50%;
        padding: calc(vars.$gutter * 1);
        display: block;
      }
      &.title {
        font-size: calc(vars.$fontSize * 2);
        color: vars.$thirdColor;
        font-weight: bold;
        margin-bottom: calc(vars.$gutter * 1.5);
      }
      &.subtitle {
        font-size: 1.2em;
        color: vars.$thirdColor;
        font-weight: bold;
        margin-bottom: vars.$gutter;
      }
      &.button {
        color: vars.$mainColor;
        background-color: vars.$thirdColor;
        margin-bottom: vars.$gutter;
        border-radius: 30px;
        font-size: 1em;
        padding: 10px;
        border: none;
      }
      &.input {
        background-color: vars.$secondaryColor;
        border: none;
        height: calc(vars.$gutter * 2);
        border-radius: 5px;
        color: vars.$fontColor;
        margin-bottom: calc(vars.$gutter * 1.5);
        margin-right: calc(vars.$gutter * 1);
  
        &.description {
          text-align: left;
          width: 70vw;
          height: 20vh;
          font-size: calc(vars.$fontSize * 1);
        }
      }
    }
  }
}

// responsive desktop
@media (min-width: 768px) {
.editprofile {
  color: vars.$fontColor;

      &-contentGroup {
        margin-left: calc(vars.$gutter * 1.5);
        padding-top: calc(vars.$gutter * 2);
      }
    &-content {

      &.title-description {
        margin: calc(vars.$gutter * 1) calc(vars.$gutter * 1) calc(vars.$gutter * 1) calc(vars.$gutter * 0);
      }

      &.edit-presentation {
        margin-left: calc(vars.$gutter * 0.8)
      }

      &.avatar {
        width: 20%;
        border-radius: 50%;
        background-color: #fff;
        display: block;
        padding: calc(vars.$gutter * 0.5);
      }

      &.title {
        font-size: calc(vars.$fontSize * 2);
        color: vars.$thirdColor;
        font-weight: bold;
        margin-bottom: calc(vars.$gutter * 1.5);

        &-description { 
          font-size: calc(vars.$fontSize * 1.5);
        }
      }

      &.subtitle {
        font-size: calc(vars.$fontSize * 1.2);
        color: vars.$thirdColor;
        font-weight: bold;
        margin-bottom: vars.$gutter;
      }

      &.button {
        color: vars.$mainColor;
        background-color: vars.$thirdColor;
        margin-bottom: vars.$gutter;
        border-radius: 30px;
        border: none;
        font-size: calc(vars.$gutter * 0.8);
        padding: 10px;
      }

      &.input {
        background-color: vars.$secondaryColor;
        border: none;
        height: calc(vars.$gutter * 2);
        border-radius: 5px;
        color: vars.$fontColor;
        margin-bottom: calc(vars.$gutter * 1.5);
        margin-right: calc(vars.$gutter * 1);

        &.description {
          text-align: left;
          width: 50vw;
          height: 20vh;
        }
      }
    }
  }
}
