@use '../../../styles/vars';

// responsive mobile first
@media (max-width: 768px) {
  .editprofile {
    &-contentGroup {
      padding: calc(vars.$gutter * 2);
      margin: calc(vars.$gutter * 2);
      margin-right: calc(vars.$gutter * 3);
      padding: calc(vars.$gutter * 1);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    &-logo {
      display: none;
    }

    &-content {
      &.avatar {
        width: 200px;
        border-radius: 50%;
        background-color: #fff;
        display: block;
        padding: calc(vars.$gutter * 0.5);
      }
      &.edit-presentation {
        margin-left: calc(vars.$gutter * 0.8)
      }

      &.button {
        color: vars.$mainColor;
        background-color: vars.$thirdColor;
        margin-bottom: vars.$gutter;
        border-radius: 30px;
        font-size: calc(vars.$gutter * 1);
        padding: 10px;
        border: none;
      }
      &.input {
        background-color: vars.$secondaryColor;
        border: none;
        height: calc(vars.$gutter * 2);
        border-radius: 5px;
        color: vars.$fontColor;
        margin-bottom: calc(vars.$gutter * 1.5);
        margin-right: calc(vars.$gutter * 1);
  
        &.description {
          text-align: left;
          width: 70vw;
          height: 20vh;
          font-size: calc(vars.$fontSize * 1);
        }
      }
    }
  }
}

// responsive desktop
@media (min-width: 768px) {
  .editprofile {
    &-contentGroup {
      margin: calc(vars.$gutter * 2);
      margin-right: calc(vars.$gutter * 5);
      padding: calc(vars.$gutter * 1);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    &-content {
      &.edit-presentation {
        margin-left: calc(vars.$gutter * 0.8)
      }

      &.avatar {
        width: 200px;
        border-radius: 50%;
        background-color: #fff;
        display: block;
        padding: calc(vars.$gutter * 0.5);
      }

      &.button {
        color: vars.$mainColor;
        background-color: vars.$thirdColor;
        margin-bottom: vars.$gutter;
        border-radius: 30px;
        border: none;
        font-size: calc(vars.$gutter * 1);
        padding: 10px;
      }

      &.input {
        background-color: vars.$secondaryColor;
        border: none;
        height: calc(vars.$gutter * 2);
        border-radius: 5px;
        color: vars.$fontColor;
        margin-bottom: calc(vars.$gutter * 1.5);
        margin-right: calc(vars.$gutter * 1);

        &.description {
          text-align: left;
          width: 50vw;
          height: 20vh;
        }
      }
    }
  }
}
