@use '../../styles/vars';

// responsive mobile first
@media (max-width: 768px) {
  .book {
    color: vars.$fontColor;
    display: flex;

    &-user-profile {
      display: none;
    }
    &-contentGroup {
        margin: 0 calc(vars.$gutter * 1.5);
        padding-top: calc(vars.$gutter * 1);
    }
    &-content {
      margin: 0 calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5);


      &.title {
        font-size: 1.5em;
        color: vars.$thirdColor;
        font-weight: bold;
        margin-bottom: calc(vars.$gutter * 1.5);
      }
      &.tag {
        display: inline;
        &-genre-a {
          color: vars.$mainColor;
          background-color: vars.$thirdColor;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
        &-genre-b {
          color: vars.$secondaryColor;
          background-color: vars.$fourthColor;
          margin-bottom: vars.$gutter;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
      }
    }
    &-lign {
      width: 70%;
      height: 2px;
      background-color: vars.$thirdColor;
      margin-top: calc(vars.$gutter * 1);
      margin-bottom: calc(vars.$gutter * 2);
      display: block;
    }
  }
}

// responsive desktop
@media (min-width: 768px) {
  .book{
    // to have the content not hidden by the nav menu on desktop
    padding-left: 20%;
    padding-top: 1em;
    font-size: 1.3em;
    color: vars.$fontColor;

    &-title {
    margin-left: 8%;
    }
    &-content {
      &.description {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &-user-profile {
      width: 70px;
      height: auto;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #fff;
      border-radius: 50%;
      padding: 10px;
    }
    &-contentGroup {
        margin: 0 calc(vars.$gutter * 1.5);
        padding-top: calc(vars.$gutter * 1);
    }
    &-content {
      margin: 0 calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5);

      &.title {
        font-size: 1.5em;
        color: vars.$thirdColor;
        font-weight: bold;
        margin-bottom: calc(vars.$gutter * 1.5);
      }
      &.tag {
        display: inline;
        &-genre-a {
          color: vars.$mainColor;
          background-color: vars.$thirdColor;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
        &-genre-b {
          color: vars.$secondaryColor;
          background-color: vars.$fourthColor;
          margin-bottom: vars.$gutter;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
      }
    }
    &-lign {
      width: 70%;
      height: 2px;
      background-color: vars.$thirdColor;
      margin-top: calc(vars.$gutter * 1);
      margin-bottom: calc(vars.$gutter * 2);
      display: block;
    }  
  }
}
