@use '../../styles/vars';

// responsive mobile first
@media (max-width: 768px) {
  .book {
    display: flex;

    &-user-profile {
      display: none;
    }
    &-contentGroup {
        margin: 0 calc(vars.$gutter * 1.5);
        padding-top: calc(vars.$gutter * 1);
    }
    &-content {
      margin: 0 calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5);

      &.tag {
        display: inline;
        &-genre-a {
          color: vars.$mainColor;
          background-color: vars.$thirdColor;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
        &-genre-b {
          color: vars.$secondaryColor;
          background-color: vars.$fourthColor;
          margin-bottom: vars.$gutter;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
      }
    }
  }
}

// responsive desktop
@media (min-width: 768px) {
  .book{
    margin: 0 calc(vars.$gutter * 1.5);
    padding-top: calc(vars.$gutter * 1);
    
    &-content {
      &.description {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-contentGroup {
        margin: 0 calc(vars.$gutter * 1.5);
        padding-top: calc(vars.$gutter * 1);
    }
    &-content {
      margin: 0 calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5) calc(vars.$gutter * 1.5);

      &.cover {
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }

      &.tag {
        display: inline;
        &-genre-a {
          color: vars.$mainColor;
          background-color: vars.$thirdColor;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
        &-genre-b {
          color: vars.$secondaryColor;
          background-color: vars.$fourthColor;
          margin-bottom: vars.$gutter;
          border-radius: 30px;
          border: #000 1px solid;
          font-size: 1em;
          padding: 7px;
        }
      }
    }
  }
}
